


body{ margin:0;
}

.background{
    margin-top: 80px;
    position: absolute;
    z-index: 1;
    filter: blur(6px);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}
div.slogan{
    align-self: center;
   font-size: 20px;
    font-style: italic;
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    padding-top:80px;
   text-align: center;
   text-shadow: 1px 1px gray;
}


div.content-data{
align-items: center; 
border-style: groove;
border: 2px black; 
height: 200px;
margin:1px;
width:49% ;
overflow: hidden;
display: inline-block;
    background-color:	rgba(0,0,0,0.8);


}
div.content-data:hover {
background-color: #3A74F1;
align-items: center; 

height: 200px;
margin:1px;
width:49% ;
overflow: hidden;
display: inline-block;
-webkit-transition: all 1000ms ease;
-moz-transition: all 1000ms ease;
-ms-transition: all 1000ms ease;
-o-transition: all 1000ms ease;
transition: all 1000ms ease;
color: black;
}
div.leftcol{
        display: inline-block;

overflow: hidden;
right: 49%;
left: 0;
top: 0;
bottom: 0;
width: 49%;
height: 100%;


}
div.rightcol{

     display: inline-block;
overflow: hidden;
left: 49%;
right: 0;
top: 0;
bottom: 0;
width: 49%;
height: 100%;

}


div.container{

overflow: auto;
position: relative;
z-index: 99;

}




div.logo{
    
    padding-right: 10px;
    padding-left:10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size:10px;
width: 100px;
color:rgb(0,191,255);

}
img.logo{
     padding-top:0px; 
    width: 100px;
    height: 80px;
    
}
div.navigation{
width:100%;
height: 80px;
overflow: hidden;
align-items: center;
display: flex;
justify-content: center;
background-color:	rgba(0,0,0,1);
filter: blur(0px);
}

hr{
    padding: 0px;
    margin:0px;

}



div.category:hove  {

   
    background-color:crimson;
    color:white;
    -webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
}




div.header{
  
    height: 80px;
    width: 100%;

    margin-left: 0px auto;
    margin-right: 0px auto;
 position: fixed;
    
   
   
}

.content-body{    
margin-top: 200px;
width: 60%;
margin-left:20px;
padding-left:20%;
padding-right: 20%;


}

div.foter{
   position: relative;
  width: 100%;
 margin-left: 0px auto;
 margin-right: 0px auto;
  background-color:black;
  height: 200px;
 bottom: -100%;
 
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	
}


div.category {
    display: flex;
    align-items: center;
height: 100%;
position: relative;
    padding-top: 9px;
    padding-bottom: 9px;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    font-size: 16px;
    padding-left: 10px;
    padding-right:10px; 
    text-align: center;
}



div.menu_text{
    vertical-align: middle;
    text-align: center;
    position: relative;
    padding-left: 20px;
}
.animated_menu_v {
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
    padding: 0;
	background: #3A74F1;
	-webkit-transition: height 150ms ease-out;
	-moz-transition: height 150ms ease-out;
	-o-transition: height 150ms ease-out;
	transition: height 150ms ease-out;

}
.category:hover div.animated_menu_v {
	height: 100%;
}