


body{ margin:0;
width: 100%;
}

p.headlines{
     font-size: 30px;font-style: italic;
 color: white;
font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial sans-serif;  
 text-shadow: 1px 1px gray;
}
p.subheadline{
     font-size: 12px; 
   font-style: italic;
 color: white;
font-family: 'Open Sans Condensed', sans-serif;
}
pre.body{ font-size: 20px;
text-align: justify; padding-left: 10px; padding-right: 10px;
 white-space: pre-wrap;word-wrap: break-word;   font-family: 'Quicksand', sans-serif;

 color: white;
}
.background{
    margin-top: 80px;
    position: absolute;
    z-index: 1;
    filter: blur(6px);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
}

pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}
div.slogan{
   font-size: 25px;
    font-family: 'Dosis', sans-serif;
    color: white;
}


div.content-data{
align-items: center; 
border-style: groove;
border: 2px inset white; 
height: 300px;
width:49% ;
overflow: hidden;
display: inline-block;
    background-color:	rgba(0,0,0,1);
     

}

div.content-data:hover{
align-items: center; 
border-style: groove;
border: 2px inset white; 
height: 300px;
width:49% ;
overflow: hidden;
display: inline-block;
    background-color:	coral;
     

}






div.leftcol{
 display: inline-block;
overflow: hidden;
right: 49%;
left: 0;
top: 0;
bottom: 0;
width: 50%;
height: 100%;


}
div.rightcol{
     display: inline-block;
overflow: hidden;
left: 49%;
right: 0;
top: 0;
bottom: 0;
width: 49%;
height: 100%;

}


div.container{
width: 100%;
overflow: auto;
position: relative;
z-index: 99;

}




div.logo{
    
    padding-right: 10px;
    padding-left:10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size:10px;
width: 100px;
color:rgb(0,191,255);

}
div.logoSlogan{
    display: flex;
    align-items: right;
    width: 100%;
  background-color:rgba(0,0,0,1);

}
img.logo{
     padding-top:0px; 
    width:120px;
    height: 80px;
    
}

div.navigation{
    border-top: solid 1px  coral;
width:100%;
height: 40px;
overflow: hidden;
align-items: center;
display: flex;
justify-content: center;
background-color:	rgba(0,0,0,1);
filter: blur(0px);

}


hr{
    padding: 0px;
    margin:0px;
    size: 1px;
    color:#3A74F1;

}



div.category:hove  {

   
    background-color:crimson;
    color:white;
    -webkit-transition: all 300ms ease;
-moz-transition: all 300ms ease;
-ms-transition: all 300ms ease;
-o-transition: all 300ms ease;
}



div.header{
  
    height: 60px;
    width: 100%;
    margin-left: 0px auto;
    margin-right: 0px auto;
 position: fixed;
    
   
   
}

.content-body{    
  
padding-top: 70px;
width: 100%;
padding-left:0%;
padding-right: 0%;
margin-right:0%; 

}

div.foter{
    
   position: relative;
  width: 100%;
 margin-left: 0px auto;
 margin-right: 0px auto;
  background-color: coral;
  height: 300px;
 bottom: -0;
 padding-right: 40px;
 
}
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	
}


div.category {
    display: flex;
    align-items: center;
height: 100%;
position: relative;
    padding-top: 6px;
    padding-bottom: 6px;
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
    font-size: 14px;
    padding-left: 10px;
    padding-right:10px; 
    text-align: center;
}



div.menu_text{
    vertical-align: middle;
    text-align: center;
    position: relative;
    padding-left: 20px;
}
.animated_menu_v {
	position: absolute;
	width: 100%;
	height: 0;
	bottom: 0;
    padding: 0;
	background: #3A74F1;
	-webkit-transition: height 150ms ease-out;
	-moz-transition: height 150ms ease-out;
	-o-transition: height 150ms ease-out;
	transition: height 150ms ease-out;

}
.category:hover div.animated_menu_v {
	height: 100%;
}